
.page-content {
    display: grid;
    grid-gap: 1rem;
    color: black;
    /*background-color: #4f5050;*/
    justify-content: center;
    align-items: center;
    padding: 20px 60px 60px 60px;
    margin-right: 10vw;
    margin-left: 10vw;
}


.assignment_card {
    border: 1px solid #9c7c38;
    /*border-radius: 5px;*/
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
}

.assignment_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
    box-shadow: 1px 1px 3px 2px navajowhite;
}
.assignment_card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    transform: translateY(-50%);
}
.assignment_card:before {
    background-color: white;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    color: black;
    opacity: 75%;
}

.copy {
    font-size: 1.125rem;
    line-height: 1.35;
    margin: 10px;
}

.btn {
    cursor: pointer;
    padding: 0.5rem ;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #FFA800;
    width: 50px;
    border-radius: 10px;
    margin: 0;
    color: black;
}
.btn:hover {
    background-color: goldenrod;
    color: white;
}


#my_assignment {
    /*margin: 25px 0;*/
    text-align: center;
    font-size: 2.75em;
    opacity: 75%;
}


@media (hover: hover)  {
    .assignment_card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        /*transition: transform var(--d) var(--e), opacity var(--d) var(--e);*/
    }

    .assignment_card:hover,
    .assignment_card:focus-within {
        align-items: center;
    }
    .assignment_card:hover:before,
    .assignment_card:focus-within:before {
        transform: translateY(-4%);
    }
    .assignment_card:hover:after,
    .assignment_card:focus-within:after {
        transform: translateY(-50%);
    }
    .assignment_card:hover .content,
    .assignment_card:focus-within .content {
        transform: translateY(0);
    }
    .assignment_card:hover .content > *:not(.title),
    .assignment_card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        /*transition-delay: calc(var(--d) / 8);*/
    }

    .assignment_card:focus-within:before, .card:focus-within:after,
    .assignment_card:focus-within .content,
    .assignment_card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}


@media all and (min-width: 720px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
        margin-right:50px ;
        margin-left: 50px;

    }
    .title{
        font-size: 20px;
    }

    .btn{
        width: 120px;
        font-size: 17px;
    }

    .copy{
        font-size: 17px;
    }

    .page-content .assignment_card{
        width: 100%;
        height: 150px;
    }
}

@media all and (min-width: 300px) and (max-width: 400px) {

    .page-content {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .title{
        font-size: 32px;
    }

    .copy{
        font-size: 29px;
    }

    .btn{
        width: 120px;
        font-size: 25px;
    }

    .page-content .assignment_card{
        width: 100%;
        height: 200px;
    }

}